<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h1>Welcome to Posie's controls</h1>
        <form action="/control" method="post">
            <table border=0>
                <tr>
                    <td></td>
                    <td><button class="button-control" type="submit" name="control" value="Forward">&uarr;Forward</button></td>
                    <td></td>
                </tr>
                <tr>
                    <td><button class="button-control" type="submit" name="control" value="Left">&larr;Left</button></td>
                    <td><button class="button-control" type="submit" name="control" value="Stop">Stop</button></td>
                    <td><button class="button-control" type="submit" name="control" value="Right">Right&rarr;</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="button-control" type="submit" name="control" value="Reverse">&darr;Reverse</button></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </body>
</html>

